@model Hospital_webapp.Models.Parcel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel_weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcel_weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping_cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping_cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senderdetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senderdetails.Email_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companydetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companydetails.Email_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recieverdetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recieverdetails.Email_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
