@model IEnumerable<Hospital_webapp.Models.Parcel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Delivery_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcel_weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping_cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senderdetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companydetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recieverdetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcel_weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipping_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senderdetails.Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companydetails.Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recieverdetails.Email_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
